-- DropForeignKey
ALTER TABLE `Subscription` DROP FOREIGN KEY `Subscription_orderId_fkey`;

-- DropIndex
DROP INDEX `Subscription_orderId_key` ON `Subscription`;

-- AlterTable
ALTER TABLE `Enrollment` ADD COLUMN `registrationItemId` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `Order` ADD COLUMN `registrationId` VARCHAR(191) NULL,
    MODIFY `status` ENUM('INITIATED', 'PENDING', 'SUCCEEDED', 'FAILED', 'UNDER_REVIEW', 'REQUIRES_ACTION', 'REFUNDED') NOT NULL DEFAULT 'INITIATED';

-- AlterTable
ALTER TABLE `OrderItem` ADD COLUMN `offerId` VARCHAR(191) NULL,
    ADD COLUMN `registrationItemId` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `ScholarshipApplication` ADD COLUMN `householdSize` INTEGER NULL,
    ADD COLUMN `monthlyIncome` VARCHAR(191) NULL,
    ADD COLUMN `offerId` VARCHAR(191) NULL,
    ADD COLUMN `reasonForSupport` VARCHAR(191) NULL,
    ADD COLUMN `supportingDetails` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `Subscription` DROP COLUMN `orderId`,
    ADD COLUMN `orderItemId` VARCHAR(191) NOT NULL;

-- CreateTable
CREATE TABLE `Offer` (
    `id` VARCHAR(191) NOT NULL,
    `slug` VARCHAR(191) NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `kind` ENUM('SINGLE', 'PAIR', 'BUNDLE') NOT NULL,
    `billingInterval` VARCHAR(191) NOT NULL DEFAULT 'MONTHLY',
    `basePriceGbp` INTEGER NOT NULL,
    `basePricePkr` INTEGER NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `sortOrder` INTEGER NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `Offer_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `OfferProgram` (
    `id` VARCHAR(191) NOT NULL,
    `offerId` VARCHAR(191) NOT NULL,
    `programId` VARCHAR(191) NOT NULL,
    `sortOrder` INTEGER NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `OfferProgram_offerId_programId_key`(`offerId`, `programId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `PricingRule` (
    `id` VARCHAR(191) NOT NULL,
    `offerId` VARCHAR(191) NOT NULL,
    `countryCode` VARCHAR(191) NULL,
    `countryName` VARCHAR(191) NULL,
    `currency` VARCHAR(191) NOT NULL,
    `amount` INTEGER NOT NULL,
    `compareAtAmount` INTEGER NULL,
    `isDefault` BOOLEAN NOT NULL DEFAULT false,
    `isSouthAsiaPrice` BOOLEAN NOT NULL DEFAULT false,
    `startsAt` DATETIME(3) NULL,
    `endsAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `PricingRule_offerId_currency_countryCode_idx`(`offerId`, `currency`, `countryCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Coupon` (
    `id` VARCHAR(191) NOT NULL,
    `code` VARCHAR(191) NOT NULL,
    `offerId` VARCHAR(191) NULL,
    `discountPercent` SMALLINT NULL,
    `discountAmount` INTEGER NULL,
    `currency` VARCHAR(191) NULL,
    `maxRedemptions` INTEGER NULL,
    `redemptionCount` INTEGER NOT NULL DEFAULT 0,
    `startsAt` DATETIME(3) NULL,
    `endsAt` DATETIME(3) NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `Coupon_code_key`(`code`),
    INDEX `Coupon_offerId_isActive_idx`(`offerId`, `isActive`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Registration` (
    `id` VARCHAR(191) NOT NULL,
    `parentProfileId` VARCHAR(191) NULL,
    `scholarshipId` VARCHAR(191) NULL,
    `couponId` VARCHAR(191) NULL,
    `status` ENUM('DRAFT', 'SUBMITTED', 'PENDING_PAYMENT', 'PAYMENT_REVIEW', 'PAID', 'CONVERTED', 'CANCELLED', 'EXPIRED') NOT NULL DEFAULT 'DRAFT',
    `parentEmail` VARCHAR(191) NOT NULL,
    `parentFirstName` VARCHAR(191) NOT NULL,
    `parentLastName` VARCHAR(191) NOT NULL,
    `phoneCountryCode` VARCHAR(191) NULL,
    `phoneNumber` VARCHAR(191) NULL,
    `whatsappNumber` VARCHAR(191) NULL,
    `selectedCountryCode` VARCHAR(191) NULL,
    `selectedCountryName` VARCHAR(191) NULL,
    `selectedCurrency` VARCHAR(191) NOT NULL DEFAULT 'GBP',
    `paymentGateway` ENUM('STRIPE', 'PAYPAL', 'NAYAPAY', 'BANK_TRANSFER', 'SCHOLARSHIP', 'FREE') NULL,
    `subtotalAmount` INTEGER NOT NULL DEFAULT 0,
    `discountAmount` INTEGER NOT NULL DEFAULT 0,
    `totalAmount` INTEGER NOT NULL DEFAULT 0,
    `pricingSnapshot` JSON NULL,
    `notes` VARCHAR(191) NULL,
    `submittedAt` DATETIME(3) NULL,
    `convertedAt` DATETIME(3) NULL,
    `expiresAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `Registration_parentEmail_status_idx`(`parentEmail`, `status`),
    INDEX `Registration_parentProfileId_createdAt_idx`(`parentProfileId`, `createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RegistrationStudent` (
    `id` VARCHAR(191) NOT NULL,
    `registrationId` VARCHAR(191) NOT NULL,
    `studentProfileId` VARCHAR(191) NULL,
    `firstName` VARCHAR(191) NOT NULL,
    `lastName` VARCHAR(191) NULL,
    `displayName` VARCHAR(191) NULL,
    `dateOfBirth` DATETIME(3) NULL,
    `age` INTEGER NULL,
    `gender` VARCHAR(191) NULL,
    `countryCode` VARCHAR(191) NULL,
    `countryName` VARCHAR(191) NULL,
    `timezone` VARCHAR(191) NULL DEFAULT 'Europe/London',
    `needsArabicPlacement` BOOLEAN NOT NULL DEFAULT false,
    `notes` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `RegistrationStudent_registrationId_createdAt_idx`(`registrationId`, `createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RegistrationItem` (
    `id` VARCHAR(191) NOT NULL,
    `registrationId` VARCHAR(191) NOT NULL,
    `registrationStudentId` VARCHAR(191) NOT NULL,
    `offerId` VARCHAR(191) NOT NULL,
    `scholarshipPercent` SMALLINT NULL,
    `baseAmount` INTEGER NOT NULL,
    `discountAmount` INTEGER NOT NULL DEFAULT 0,
    `finalAmount` INTEGER NOT NULL,
    `currency` VARCHAR(191) NOT NULL,
    `pricingSnapshot` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `RegistrationItem_registrationId_registrationStudentId_idx`(`registrationId`, `registrationStudentId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `PaymentTransaction` (
    `id` VARCHAR(191) NOT NULL,
    `orderId` VARCHAR(191) NOT NULL,
    `gateway` ENUM('STRIPE', 'PAYPAL', 'NAYAPAY', 'BANK_TRANSFER', 'SCHOLARSHIP', 'FREE') NOT NULL,
    `status` ENUM('INITIATED', 'PENDING', 'SUCCEEDED', 'FAILED', 'UNDER_REVIEW', 'REQUIRES_ACTION', 'REFUNDED') NOT NULL DEFAULT 'INITIATED',
    `amount` INTEGER NOT NULL,
    `currency` VARCHAR(191) NOT NULL,
    `providerOrderId` VARCHAR(191) NULL,
    `providerPaymentId` VARCHAR(191) NULL,
    `providerReference` VARCHAR(191) NULL,
    `verificationToken` VARCHAR(191) NULL,
    `rawPayload` JSON NULL,
    `failureReason` VARCHAR(191) NULL,
    `paidAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `PaymentTransaction_providerOrderId_key`(`providerOrderId`),
    UNIQUE INDEX `PaymentTransaction_providerPaymentId_key`(`providerPaymentId`),
    INDEX `PaymentTransaction_orderId_status_idx`(`orderId`, `status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ManualPaymentSubmission` (
    `id` VARCHAR(191) NOT NULL,
    `paymentTransactionId` VARCHAR(191) NOT NULL,
    `method` ENUM('STRIPE', 'PAYPAL', 'NAYAPAY', 'BANK_TRANSFER', 'SCHOLARSHIP', 'FREE') NOT NULL,
    `senderName` VARCHAR(191) NOT NULL,
    `senderNumber` VARCHAR(191) NOT NULL,
    `referenceKey` VARCHAR(191) NOT NULL,
    `screenshotUrl` VARCHAR(191) NULL,
    `notes` VARCHAR(191) NULL,
    `submittedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `reviewedAt` DATETIME(3) NULL,
    `reviewNote` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `ManualPaymentSubmission_paymentTransactionId_key`(`paymentTransactionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `GatewayWebhookEvent` (
    `id` VARCHAR(191) NOT NULL,
    `paymentTransactionId` VARCHAR(191) NULL,
    `gateway` ENUM('STRIPE', 'PAYPAL', 'NAYAPAY', 'BANK_TRANSFER', 'SCHOLARSHIP', 'FREE') NOT NULL,
    `eventType` VARCHAR(191) NOT NULL,
    `eventId` VARCHAR(191) NULL,
    `status` ENUM('INITIATED', 'PENDING', 'SUCCEEDED', 'FAILED', 'UNDER_REVIEW', 'REQUIRES_ACTION', 'REFUNDED') NULL,
    `payload` JSON NOT NULL,
    `receivedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `processedAt` DATETIME(3) NULL,

    INDEX `GatewayWebhookEvent_gateway_eventType_receivedAt_idx`(`gateway`, `eventType`, `receivedAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ReminderLog` (
    `id` VARCHAR(191) NOT NULL,
    `registrationId` VARCHAR(191) NULL,
    `orderId` VARCHAR(191) NULL,
    `type` ENUM('PAYMENT', 'RENEWAL') NOT NULL,
    `toEmail` VARCHAR(191) NOT NULL,
    `subject` VARCHAR(191) NOT NULL,
    `bodyPreview` VARCHAR(191) NULL,
    `scheduledFor` DATETIME(3) NULL,
    `sentAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `ReminderLog_type_scheduledFor_idx`(`type`, `scheduledFor`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateIndex
CREATE UNIQUE INDEX `Enrollment_registrationItemId_key` ON `Enrollment`(`registrationItemId`);

-- CreateIndex
CREATE UNIQUE INDEX `Order_registrationId_key` ON `Order`(`registrationId`);

-- CreateIndex
CREATE UNIQUE INDEX `Subscription_orderItemId_key` ON `Subscription`(`orderItemId`);

-- AddForeignKey
ALTER TABLE `OfferProgram` ADD CONSTRAINT `OfferProgram_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `Offer`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `OfferProgram` ADD CONSTRAINT `OfferProgram_programId_fkey` FOREIGN KEY (`programId`) REFERENCES `Program`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `PricingRule` ADD CONSTRAINT `PricingRule_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `Offer`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Coupon` ADD CONSTRAINT `Coupon_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `Offer`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Registration` ADD CONSTRAINT `Registration_parentProfileId_fkey` FOREIGN KEY (`parentProfileId`) REFERENCES `ParentProfile`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Registration` ADD CONSTRAINT `Registration_scholarshipId_fkey` FOREIGN KEY (`scholarshipId`) REFERENCES `ScholarshipApplication`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Registration` ADD CONSTRAINT `Registration_couponId_fkey` FOREIGN KEY (`couponId`) REFERENCES `Coupon`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RegistrationStudent` ADD CONSTRAINT `RegistrationStudent_registrationId_fkey` FOREIGN KEY (`registrationId`) REFERENCES `Registration`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RegistrationStudent` ADD CONSTRAINT `RegistrationStudent_studentProfileId_fkey` FOREIGN KEY (`studentProfileId`) REFERENCES `StudentProfile`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RegistrationItem` ADD CONSTRAINT `RegistrationItem_registrationId_fkey` FOREIGN KEY (`registrationId`) REFERENCES `Registration`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RegistrationItem` ADD CONSTRAINT `RegistrationItem_registrationStudentId_fkey` FOREIGN KEY (`registrationStudentId`) REFERENCES `RegistrationStudent`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RegistrationItem` ADD CONSTRAINT `RegistrationItem_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `Offer`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Enrollment` ADD CONSTRAINT `Enrollment_registrationItemId_fkey` FOREIGN KEY (`registrationItemId`) REFERENCES `RegistrationItem`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Order` ADD CONSTRAINT `Order_registrationId_fkey` FOREIGN KEY (`registrationId`) REFERENCES `Registration`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `OrderItem` ADD CONSTRAINT `OrderItem_registrationItemId_fkey` FOREIGN KEY (`registrationItemId`) REFERENCES `RegistrationItem`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `OrderItem` ADD CONSTRAINT `OrderItem_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `Offer`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `PaymentTransaction` ADD CONSTRAINT `PaymentTransaction_orderId_fkey` FOREIGN KEY (`orderId`) REFERENCES `Order`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ManualPaymentSubmission` ADD CONSTRAINT `ManualPaymentSubmission_paymentTransactionId_fkey` FOREIGN KEY (`paymentTransactionId`) REFERENCES `PaymentTransaction`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `GatewayWebhookEvent` ADD CONSTRAINT `GatewayWebhookEvent_paymentTransactionId_fkey` FOREIGN KEY (`paymentTransactionId`) REFERENCES `PaymentTransaction`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Subscription` ADD CONSTRAINT `Subscription_orderItemId_fkey` FOREIGN KEY (`orderItemId`) REFERENCES `OrderItem`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ScholarshipApplication` ADD CONSTRAINT `ScholarshipApplication_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `Offer`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ReminderLog` ADD CONSTRAINT `ReminderLog_registrationId_fkey` FOREIGN KEY (`registrationId`) REFERENCES `Registration`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ReminderLog` ADD CONSTRAINT `ReminderLog_orderId_fkey` FOREIGN KEY (`orderId`) REFERENCES `Order`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

